{{% extends 'base.html' %}

{% block title %}Lecturer Detail{% endblock %}

{% block content %}
    <h2 class="my-3">Lecturer Detail</h2>
    <p><strong>Username:</strong> {{ lecturer.user.username }}</p>
    <p><strong>Email:</strong> {{ lecturer.user.email }}</p>
    <p><strong>Department:</strong> {{ lecturer.department }}</p>
    <p><strong>Courses Taught:</strong></p>
    <ul>
        {% for course in lecturer.courses_taught.all %}
            <li>{{ course.course_name }} ({{ course.course_id }})</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'lecturer_update' lecturer.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'lecturer_delete' lecturer.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
