{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIMS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5" style="justify-content: space-between;">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/Picture1.gif' %}" alt="" style="height: 60px;">
        </a>
       <div>
        
        <!-- Hamburger Menu Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item align-self-center"><span class="text-muted">Hello, {{user.username | title}}</span></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
                    <!-- Dropdown Menu for Admins, Students, Lecturers, etc. -->
                   {% if user.is_staff %}
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'admin_list' %}">Admins</a>
                        <a class="dropdown-item" href="{% url 'student_list' %}">Students</a>
                        <a class="dropdown-item" href="{% url 'lecturer_list' %}">Lecturers</a>
                        <a class="dropdown-item" href="{% url 'course_list' %}">Courses</a>
                        <a class="dropdown-item" href="{% url 'result_list' %}">Results</a>
                        <a class="dropdown-item" href="{% url 'clinicstaff_list' %}">Clinic Staff</a>
                    </div>
                </li>
                {% endif %}
               <li class="nav-item">
                        {% if user.role == 'STUDENT' %}
                            <a class="nav-link" href="{% url 'student_view_timetable' %}">View Timetable</a> 
                        {% elif user.role == 'LECTURER' %}                       
                            <a class="nav-link" href="{% url 'lecturer_view_timetable' %}">View Timetable</a> 
                        {% endif %} 
                    </li>
                    <li class="nav-item">
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link text-light">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'student_register' %}">Register as Student</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'staff_register' %}">Register as Staff</a></li>

                {% endif %}
            </ul>
        </div>
       </div>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
<br>y
    <footer>
        <p class="text-light">&copy; 2024 SIMS. All Rights Reserved.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>
