{% extends 'base.html' %}

{% block title %}Timetable{% endblock %}

{% block content %}
   <!-- timetable.html -->
<h2>Your Timetable</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Day</th>
            <th>Course</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for day, courses in timetable.items %}
            <tr>
                <td rowspan="{{ courses|length }}">{{ day }}</td>
                {% for course in courses %}
                <td>{{ course.course_name }}</td>
                <td>{{ course.time }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
