{{% extends 'base.html' %}

{% block title %}Course Detail{% endblock %}

{% block content %}
    <div class="my-3">
        <h2>Course Detail</h2>
        <hr>
        <p><strong>Course ID:</strong> {{ course.course_id }}</p>
        <p><strong>Course Name:</strong> {{ course.course_name }}</p>
        <p><strong>Credits:</strong> {{ course.credits }}</p>
        
        <a href="{% url 'course_update' course.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'course_delete' course.id %}" class="btn btn-danger">Delete</a>

    </div>
{% endblock %}
