{% extends 'base.html' %}

{% block title %}Input Grades{% endblock %}

{% block content %}
<h2>Input Grades for Your Courses</h2>
<br>
{% for course, students in course_students.items %}
    <h3>{{ course.course_name }} ({{ course.course_id }})</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Current Grade</th>
                <th>New Grade</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student_info in students %}
            <tr>
                <td>{{ student_info.student.user.username }}</td>
                <td>{{ student_info.grade }}</td>
                <td>
                    <form method="post" action="{% url 'submit_grades' %}">
                        {% csrf_token %}
                        <input type="hidden" name="course_id" value="{{ course.id }}">
                        <input type="hidden" name="student_id" value="{{ student_info.student.id }}">
                        <select name="new_grade" id="" class="form-control" required>
                            <option value="">Select Grade</option>
                            <option value="A1">A1</option>
                            <option value="B2">B2</option>
                            <option value="C3">C3</option>
                            <option value="D4">D4</option>
                            <option value="F9">F9</option>
                        </select>
                    </td>
                <td>
                        <button type="submit" class="btn btn-success">Submit Grade</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>
{% endfor %}

{% endblock %}
